#
# My Alias
#
alias l='ls -alh'
alias nrd="npm run dev"
alias tf="terraform"

#
# Tmux
#

# will  overwrite oh-my-zsh/plugins/tmux/tmux.plugins.zsh
alias ta='tmux attach'
alias tt='tmux attach -t '

# GIT
alias gl="git log"
alias gv="git remote -v"
alias gs="git status"
alias gb="git branch -a -vv"
alias gpr="git pull --rebase"
alias gca="git commit --amend"
alias gw="git switch"
alias gpl="git pull"
alias gpa="git remote | xargs -L1 git push"

# KIND
alias kind="/c/Users/vance/kind/kind"
